.navborderRadius{
    border-radius:0px;
    background-color:#009688 ;
    border-color:#009688;
}
.fotterSet{
    margin-top: 100%;
    padding-top: 25px;
    background-color: #000;
}
.badgeLcircle{
    padding: 10px;
    border-radius: 50%;
}

.nodataMessage{
    text-align: -webkit-center;
    font-size: 2em;
}

.mr15 {margin-right: 15px;}
.marforButton{
    margin-top: -3px;
}
.boxforData{
    margin: 0 auto;
    width: 800px;
    height: 800px;
    border: 2px solid #50bcb3;
    box-sizing: border-box;
}

.uploadBtn{border:none; padding:10px 30px; font-weight:bold; margin:10px 0 0 0; float:left; font-size:18px;
    border-radius:3px; -webkit-border-radius:23px; -moz-border-radius:3px; background:#007a87; color:#fff; cursor: pointer;
}